:root {
    --sans: Frick, sans-serif;
    --serif: Crimson, serif;
    --base-width: 600px;
    --white: oklch(100% 0 0);
    --grey: oklch(70% 0 0);
    --black: oklch(0% 0 0);
    --primary: oklch(75% 0.04 180);
    --primary-dim: oklch(75% 0.04 180 / 20%);
    --secondary: oklch(75% 0.04 220);
    --secondary-dim: oklch(75% 0.04 220 / 20%);
    --tertiary: oklch(75% 0.04 10);
    --tertiary-dim: oklch(75% 0.04 10 / 20%);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none; /* focus styles defined below */
}

html {
    font-size: 23px;
    font-size: clamp(19px, 2.5vw, 23px);
    line-height: 1.4;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: var(--serif);
    font-feature-settings: "liga", "kern";
    color: var(--black);
    background: var(--white);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    hyphens: auto;
    max-width: var(--base-width);
    margin: 0 auto 4rem;
}

header {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 2rem;
    z-index: 3;
    box-shadow: 0 0 .5rem .2rem #00000011;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header li {
    padding: .6rem;
}

header a {
    text-decoration: none;
    color: var(--black);
    transition: color .1s;
}

header a:hover,
header a:focus {
    color: var(--primary);
}

footer {
    padding: 1.5rem 0 3rem;
    width: 100vw;
    height: 3rem;
    text-align: center;
    color: var(--grey);
    background: var(--black);
    font-size: 90%;
}

#banner {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin-left: calc((100vw - var(--base-width)) / -2);
    margin-bottom: 4rem;
    background: var(--black);
    background-image: url("/img/seurat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    hyphens: none;
    text-align: center;
}

#banner div {
    width: 80%;
    max-width: calc(var(--base-width) * 1.2);
    font-size: 140%;
    text-shadow: .1rem .1rem .1rem #00000033;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: color .1s;
}

a:hover, a:focus {
    color: var(--grey);
}

footer a {
    color: var(--grey);
}

footer a:hover, footer a:focus {
    color: var(--primary);
}

a.btn {
    display: inline-block;
    margin: 1.5rem .7rem auto;
    padding: .6rem 1rem .7rem;
    color: var(--white);
    background: var(--black);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--serif);
    border: 2px solid var(--grey);
    border-radius: .5rem;
    transition: border-color .1s, background .1s;
}

a.btn:focus, a.btn:hover {
    color: var(--white);
    background: var(--primary);
    border-color: var(--primary);
}

a.arrow {
    font-style: italic;
    display: block;
    margin-top: 1rem;
    margin: 1.5rem 0;
    padding: .6rem 1rem .7rem;
    color: var(--black);
    background: var(--secondary-dim);
    border: 2px solid var(--secondary-dim);
    border-radius: .5rem;
    transition: border-color .1s;
}

a.arrow::after{
    content: "→";
    margin-left: .2rem;
}

a.arrow:focus, a.arrow:hover {
    color: var(--black);
    border-color: var(--secondary);
}

h1, h2, h3 {
    font-family: var(--sans);
    font-weight: 600;
    letter-spacing: 1px;
}

h1 {
    font-size: 120%;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: .3rem;
}

h2, h3 {
    font-size: 100%;
    margin: 3.5rem 0 1rem;
}

h3 {
    margin-top: 0;
}

h4 {
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
    margin: 2rem 0 .75rem
}

p {
    text-indent: 1.5rem;
}

p:first-of-type, h2 + p, h4 + p, img + p, section + p{
    text-indent: 0;
}

#team {
    display: flex;
    overflow: hidden;
    margin: 1.5rem 0 2rem;
    max-width: calc(var(--base-width) * 2);
    margin-left: calc(var(--base-width) * -0.4);
    margin-right: calc(var(--base-width) * -0.4);
}

#team a {
    flex: 1;
    margin: 1rem;
    padding: 1.5rem;
    position: relative;
    color: var(--black);
    background: var(--secondary-dim);
    border: 2px solid var(--secondary-dim);
    border-radius: .5rem;
    transition: border-color .1s;
}

#team a h3 {
    color: var(--secondary);
}

#team a:focus, #team a:hover {
    color: var(--black);
    border-color: var(--secondary);
}

#team span {
    display: block;
    margin: -.75rem 0 1.25rem;
}

#team img {
    user-select: none;
    margin: 0 0 .5rem;
}

#title {
    width: 100vw;
    margin: 4rem 0 4rem calc((100vw - var(--base-width)) / -2);
    color: var(--white);
    background-color: var(--primary);
    background-image: url("/img/bg.png");
    text-align: center;
    font-size: 160%;
    padding: 3.5rem 2rem;
    box-sizing: border-box;
}

details {
    margin: 1.5rem 0 2.5rem;
}

details summary {
    cursor: pointer;
}

details p {
    text-indent: 0;
    margin-top: 1rem;
}

details ul {
    margin-top: .3rem;
    list-style: disc;
    margin-left: 1rem;
    padding-left: 1rem;
    text-indent: 0;
}

details ul li::marker {
    color: var(--primary);
    font-size: 87%;
}

featured-quote {
    display: block;
    width: calc(100% + 10rem);
    margin: 3rem -5rem;
    border-radius: .5rem;
    background: var(--primary-dim);
    text-align: center;
    font-style: italic;
    font-size: 120%;
    padding: 2rem;
    box-sizing: border-box;
}

img {
    width: 100%;
    margin: 2rem 0;
    border-radius: .1rem;
}

img.headshot {
    margin-top: 0;
}

@media all and (max-width: 1400px) {
    #team {
        flex-direction: column;
        margin: .5rem 0 2.5rem;
        padding: 0;
        max-width: var(--base-width);
    }

    #team a {
        max-width: 100%;
        overflow: hidden;
        margin: 2rem auto 0;
        padding: 1.5rem;
    }
}

@media all and (max-width: 750px) {
    :root {
        --base-width: 800px;
    }

    main {
        margin: 5vw auto;
        padding: 10vw 5vw;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem 2rem .5rem;
    }

    header ul {
        justify-content: center;
    }

    footer {
        padding-left: 5vw;
        padding-right: 5vw;
        width: 90vw;
        height: auto;
    }

    #banner {
        margin: -15vw -5vw 10vw;
    }

    #banner div {
        width: 85%;
    }

    #banner div a:first-of-type {
        display: none;
    }

    #team a {
        margin: 7vw auto 0;
        padding: 7vw;
    }

    #title {
        margin: 12vw 0 10vw -5vw;
        padding: 10vw 5vw;
    }

    featured-quote {
        width: 100vw;
        margin: 2.5rem -5vw 3rem;
        padding: 8vw;
    }
}

@media all and (max-width: 350px) {
    header ul {
        margin-top: .5rem;
        flex-direction: column;
    }

    header li {
        line-height: .5;
    }
    
    #banner div {
        font-size: 120%;
    }
}
