:root {
    --sans: Frick, sans-serif;
    --serif: Crimson, serif;
    --base-width: 600px;
    --white: oklch(100% 0 0);
    --grey: oklch(70% 0 0);
    --black: oklch(0% 0 0);
    --primary: oklch(75% 0.03 180);
    --primary-dim: oklch(75% 0.03 180 / 20%);
    --secondary: oklch(75% 0.03 220);
    --secondary-dim: oklch(75% 0.03 220 / 20%);
    --tertiary: oklch(75% 0.03 10);
    --tertiary-dim: oklch(75% 0.03 10 / 20%);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none; /* focus styles defined below */
}

html {
    font-size: 23px;
    font-size: clamp(19px, 2.5vw, 23px);
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: var(--serif);
    font-feature-settings: "liga", "kern";
    background: var(--white);
    border-bottom: 2rem solid var(--primary);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    line-height: 1.4;
    color: var(--black);
    hyphens: auto;
    max-width: var(--base-width);
    margin: 0 auto 5rem;
}

header {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 2rem;
    z-index: 3;
    box-shadow: 0 0 .5rem .2rem #00000011;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header li {
    padding: .6rem;
}

header a {
    text-decoration: none;
    color: var(--black);
}

header a:hover,
header a:focus {
    color: var(--primary);
}

#banner {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin-left: calc((100vw - var(--base-width)) / -2);
    margin-bottom: 4rem;
    background: var(--black);
    background-image: url("/img/seurat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    hyphens: none;
    text-align: center;
}

#banner div, #referrers div {
    width: 80%;
    max-width: calc(var(--base-width) * 1.2);
    font-size: 140%;
    text-shadow: .1rem .1rem .1rem #00000033;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

a.btn {
    display: inline-block;
    margin-top: 1.5rem;
    padding: .6rem 1rem .7rem;
    background: var(--black);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--serif);
    border: 2px solid var(--grey);
    border-radius: .5rem;
    transition: background .1s, border-color .1s;
}

a.btn:hover, a.btn:hover {
    color: var(--white);
    border-color: var(--primary);
    background: var(--primary);
}

h1, h2, h3 {
    font-family: var(--sans);
    font-weight: 600;
    letter-spacing: 1px;
}

h1 {
    font-size: 120%;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: .3rem;
}

h2, h3 {
    font-size: 100%;
    margin: 3.5rem 0 1rem;
}

h3 {
    margin-top: 0;
}

h4 {
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
    margin: 2rem 0 .75rem
}

p {
    text-indent: 1.5rem;
}

p:first-of-type, h2 + p, h4 + p {
    text-indent: 0;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--secondary);
}

#bios {
    display: flex;
    overflow: hidden;
    margin: 1.5rem 0 3rem;
    max-width: calc(var(--base-width) * 2);
    margin-left: calc(var(--base-width) * -0.5);
    margin-right: calc(var(--base-width) * -0.5);
}

#bios div {
    flex: 1;
    margin: .5rem;
    padding: 1.8rem;
    position: relative;
    border-radius: .5rem;
}

#bios div:nth-of-type(1) {
    background: var(--secondary-dim);
}

#bios div:nth-of-type(2) {
    background: var(--tertiary-dim);
}

#bios div:nth-of-type(3) {
    background: var(--primary-dim);
}

#bios div:nth-of-type(1) h3 {
    color: var(--secondary);
}

#bios div:nth-of-type(2) h3 {
    color: var(--tertiary);
}

#bios div:nth-of-type(3) h3 {
    color: var(--primary);
}

#bios span {
    display: block;
    font-style: italic;
    margin: -.75rem 0 1.25rem;
}

#bios p {
    font-size: 90%;
}

#quote {
    width: 100vw;
    margin: 4rem 0 4rem calc((100vw - var(--base-width)) / -2);
    color: var(--white);
    background-color: var(--primary);
    background-image: url("bg.png");
    text-align: center;
    font-style: italic;
    font-size: 140%;
    padding: 4rem 2rem;
    box-sizing: border-box;
}

#title {
    width: 100vw;
    margin: 4rem 0 4rem calc((100vw - var(--base-width)) / -2);
    color: var(--white);
    background-color: var(--primary);
    background-image: url("/img/bg.png");
    text-align: center;
    font-size: 160%;
    padding: 3.5rem 2rem;
    box-sizing: border-box;
}

#info p {
    text-indent: 0;
    margin-top: 1rem;
}

#info ul {
    margin-top: .3rem;
    list-style: disc;
    margin-left: 1rem;
    padding-left: 1rem;
    text-indent: 0;
}

#info ul li::marker {
    color: var(--tertiary);
    font-size: 87%;
}

@media all and (max-width: 1400px) {
    #bios {
        flex-direction: column;
        margin: 0;
        padding: 0;
        max-width: var(--base-width);
    }

    #bios div {
        max-width: 100%;
        overflow: hidden;
        margin: 2rem -1.5rem 0;
        padding: 1.5rem 3rem;
    }
}

@media all and (max-width: 750px) {
    :root {
        --base-width: 800px;
    }

    body {
        margin: 5vw auto;
        padding: 10vw 5vw 15vw;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem 2rem .5rem;
    }

    header ul {
        justify-content: center;
    }

    #banner {
        margin: -15vw -5vw 10vw;
    }

    #banner div {
        width: 85%;
    }

    #bios div {
        margin: 7vw -5vw 0;
        padding: 5vw 10vw;
    }

    #quote {
        width: 100vw;
        margin: 4rem -5vw 4rem;
        padding: 10vw;
    }
}

@media all and (max-width: 350px) {
    header ul {
        margin-top: .5rem;
        flex-direction: column;
    }

    header ul li {
        line-height: .5;
    }
    
    #banner div {
        font-size: 120%;
    }
}
